@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "BCP";
  src: url("./fonts/BCP.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-2xl font-semibold;
}

h3 {
  @apply text-xl font-medium;
}

h4 {
  @apply text-lg font-medium;
}

h5 {
  @apply text-base font-medium;
}

h6 {
  @apply text-sm font-medium;
}

p {
  @apply text-base;
}

body {
  background-color: #f8f6fd;
  font-family: "BCP";
}
